
    <div class="walmart-color">
            <div class="container">
               
                <h2 style="color:white;margin-top:10px;font-weight:700;font-size">Powered by Walmart</h2>
                <ul id="myTags">
                    <!-- Existing list items will be pre-added to the tags -->
                    <!--<li>Tag1</li>-->
                </ul>
            </div>
    </div>
<div class="container">  	
	<div style="height:100px;padding-left:0;" class="col-xs-6">
        <div>
            <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"style="position: absolute;top: 45px;" class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
        </div>    
				<div style="text-align: center; margin-top: 25px;">
                    <i ng-click="increaseLike()" class="fa fa-thumbs-up fa-5x grow" style="color: #ffc120; margin-right: 55px;"></i>
                    <div style="margin-top: 10px;position: relative;bottom: 55px;left:45px;"><label style="font-weight:100;font-size:30px;color:#007dc6;font-family:'Droid Sans'">{{numLikes}}</label></div>
                </div>
                <div><a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"style="position: absolute;top: 45px;" class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a></div>
         
				<div class="container" style="margin-top:40px;">
					<div style="position:relative;text-align: center;" class="col-xs-6">
			
						<img class="mannequin animated lightSpeedIn" src="/public/images/Body.png">
						<div style="position:absolute;top:0;width:100%;left:0;">
							<img ng-click="switchSection(0)" class="hat" ng-src="{{imageHat}}"></button>
							<div ng-show="hatSection==true" style="margin-top:-80px;"><i style="margin-left:400px;" class="fa fa-arrow-left fa-4x"></i></div>
						</div>
						<div style="position:absolute;top:100px;width:100%;left:0;">
							<img ng-click="switchSection(1)" class="shirt" ng-src="{{imageShirt}}">
							<div ng-show="shirtSection" style="margin-top:-120px;"><i style="margin-left:380px;" class="fa fa-arrow-left fa-4x"></i></div>
						</div>
						<div style="position:absolute;top:120px;width:100%;height:100px;left:0;">
                                <img ng-click="switchSection(3)" class="pants" ng-src="{{imagePant}}">
                            	<div ng-show="pantSection" style="margin-top:-80px;"><i style="margin-left:400px;" class="fa fa-arrow-left fa-4x"></i></div>
                        </div>
						<div  style="position:relative;width:100%;left:0;">
							<img ng-click="switchSection(2)" class="shoe-left" ng-src="{{imageShoe}}">
							<div ng-show="shoeSection" style="margin-top:-80px;"><i style="margin-left:400px;" class="fa fa-arrow-left fa-4x"></i></div>
						</div>


					</div>
						
				</div>
	</div>
	
	<div style="max-height:600px;margin-top:10px;overflow-y:auto;background-color: #007dc6;border:5px solid #ffc120;" class="col-xs-6 text-center">
        <h1 style="color:white;font-weight:700;">Catalog</h1>
        <img id="princeton-logo" class="animated flip"style="height: 50px;position: absolute;top: 0;margin-left: 191.5px;margin-top: 15px;" src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/182/649/datas/original.png">
    
            <div style="margin-top:10px;background-color:white;font-family:'Lato',sans-serif;border-color:color:#007dc6;"ng-repeat="item in list track by $index">

	
                <img class="item" ng-click="selectItem($index)" ng-src="{{item.thumbnailImage}}">
                <div style="padding: 10px 40px 0px 40px;">{{item.name}}</div>
            </div>
    </div>
	
</div>