<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/jquery.tagit.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="/public/javascripts/home.js"></script>
<script src="/public/javascripts/tag-it.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>





</head>
<body ng-app="myApp" ng-controller="homeController">
	<div class="walmart-color">
		<img style="height:50px;"src="/public/images/walmart_logo.png">
		<div class="container">
			<h2 style="color:white;">Started from the bottom</h2>


			<ul id="myTags">
			    <!-- Existing list items will be pre-added to the tags -->
			    <!--<li>Tag1</li>-->
			</ul>
		</div>
	</div>
	<div style="height:100px;" class="col-xs-6">
				<div style="text-align: center; margin-top: 25px;">
                    <i class="fa fa-thumbs-up fa-5x grow" style="color: MediumTurquoise; margin-right: 55px;"></i>
                    <i class="fa fa-thumbs-down fa-5x grow" style="color: Crimson; margin-left: 55px;"></i>
                </div>
				<div class="container" style="margin-top:110px;">
					<div style="position:relative;text-align: center;" class="col-xs-6">
 
					
						
						<img  class="manekin" src="/public/images/Body.png">
						<div  style="position:absolute;top:0;width:100%;left:0;">
							<img  ng-click="switchSection(0)" class="hat" ng-src="{{imageHat}}"></button>
							<div ng-show="hatSection == true" style="margin-top:-80px;"><i style="margin-left:400px;" class="fa fa-arrow-left fa-4x"></i></div>
						</div>
						<div  style="position:absolute;top:100px;width:100%;left:0;">
							<img ng-click="switchSection(1)" class="shirt" ng-src="{{imageShirt}}">
							<div ng-show="shirtSection" style="margin-top:-120px;"><i style="margin-left:380px;" class="fa fa-arrow-left fa-4x"></i></div>
						</div>
							<!-- <div style="position:absolute;top:100px;width:100%;height:200px;left:0;">
		                                                <img class="pants" src="http://i.walmartimages.com/i/p/00/71/66/05/11/0071660511934_Color_Black_SW_100X100.jpg">
		                                        </div> -->
						<div  style="position:relative;width:100%;left:0;">
							<img ng-click="switchSection(2)" class="shoe-left" ng-src="{{imageShoe}}">
							<div ng-show="shoeSection" style="margin-top:-80px;"><i style="margin-left:400px;" class="fa fa-arrow-left fa-4x"></i></div>
						</div>
							
					</div>
						
						<div class="container">
							
						</div>

				</div>

	</div>
	<div style="max-height:600px;margin-top:50px;overflow-y:auto;border:5px solid #ffc120" class="col-xs-6 text-center">
		<h1 style="color:#007dc6;">Catalog</h1>
		<div style="padding:10px;" ng-repeat="item in list track by $index">
			<img ng-click="selectItem($index)" ng-src="{{item.thumbnailImage}}">
			<div style="padding: 10px 40px 0px 40px;">{{item.name}}</div>
		</div>
	</div>
	


	<script src="/public/javascripts/homeController.js"></script>


	
</body>
</html>
