body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.walmart-color{
	 background-color:#007dc6;
}

.manekin{
	height: 400px;

}
.hat{
	    
	    height:100px;
	    width: 150px;
	    margin-top:-80px;

}
.shirt{

	height:150px;
	width: 150px;
	margin-top:10px;
}
.pants{
	height:200px;
	width: 150px;
	margin-top:230px;
}
.shoe-left{
	height:100px;
	width: 150px;
	margin-top:-100px;
	margin-left:-200px;
}
.grow { 
    transition: all .3s ease-in-out;
}
.grow:hover { 
    transform: scale(1.2);
}
.btnz {
   display: block;
   float: left;
   padding: 10px 15px;
   border:none;
   background-color: #ececec;
   text-decoration: none;
   font-size: 18px;
   color: #FFF;
}
 
.btnz:hover {
   color: #efefef;
}
.facebook {
   background-color: #3b5998;
}
a{
	text-decoration: none !important;
}
a:visited{
	color:white;
	text-decoration: none !important;
}