body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.logo{
	background:url("walmart_logo.png")
}
.walmart-color{
	 background-color:#79B9E7;
}

.manekin{
	height: 500px;

}
.hat{
	    
	    height:100px;
	    width: 150px;
	    margin-top:-80px;

}
.shirt{
<<<<<<< HEAD
	height:180px;
=======
	height:150px;
>>>>>>> 9764e75b35aeb628522de332d3acbd082343e1ac
	width: 150px;
	margin-top:50px;
}
.pants{
	height:200px;
	width: 150px;
	margin-top:230px;
}
.shoe-left{
	height:100px;
	width: 150px;
<<<<<<< HEAD
	margin-top:400px;
=======
	margin-top:-100px;
>>>>>>> 9764e75b35aeb628522de332d3acbd082343e1ac
	margin-left:-200px;
}
.grow { 
    transition: all .3s ease-in-out;
}
.grow:hover { 
    transform: scale(1.2);
}
