body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.walmart-color{
	 background-color:#79B9E7;
}

.manekin{
	height: 600px;

}
.hat{
	    
	    height:150px;
	    width: 250px;

}
.shirt{

}
.shoe{

}

